// out: ../main.css
@import (reference) 'vars.less';

:root {
  --utilWheel-center-color: hsl(0, 0%, 8%);
  --utilWheel-border-color: hsl(0, 0%, 44%);
  --utilWheel-section-color: hsl(0, 0%, 19%);

  --utilWheel-center-size: 6em;
  --utilWheel-wheel-size: 27em;
  --utilWheel-gradient-stop: 21em;

  --utilWheel-dragover-scale: .92;
  --utilWheel-dragging-opacity: .575;
  --utilWheel-dragging-action-scale: .97;
}

.utility-wheel {
  position: absolute;
  left: 0;
  top: 0;
  &.uw-hidden {
    display: none;
  }

  * {
    box-sizing: border-box;
  }

  .uw-section-target, .uw-section-content, .uw-circle-indicator {
    position: absolute;
  }

  .uw-section-target {
    width: var(--utilWheel-wheel-size);
    height: var(--utilWheel-wheel-size);
    transform-origin: top left;
    border-image: .getGradient(var(--utilWheel-border-color))[] 1;
    &:hover {
      background: .getGradient(var(--utilWheel-section-color))[];
    }

    &.uw-left, &.uw-bottom {
      border-left: @border-style;
    }
    &.uw-right, &.uw-bottom {
      border-top: @border-style;
    }

    &.uw-top {
      .rotateSection(-135deg);
    }
    &.uw-right {
      .rotateSection(-45deg);
    }
    &.uw-bottom {
      .rotateSection(45deg);
    }
    &.uw-left {
      .rotateSection(135deg);
    }
  }

  .uw-section-content {
    pointer-events: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.uw-top {
      .translateContent(0, -50%);
    }
    &.uw-right {
      .translateContent(50%, 0);
    }
    &.uw-bottom {
      .translateContent(0, 50%);
    }
    &.uw-left {
      .translateContent(-50%, 0);
    }
  }

  .uw-circle-indicator {
    border-radius: 10rem;
    width: var(--utilWheel-center-size);
    height: var(--utilWheel-center-size);
    background-color: var(--utilWheel-center-color);
    border: @border-style;
    transform: translate(-50%, -50%);
  }
}

/* UtilityWheelUIConfig */
.uw-action {
  cursor: grab;
  &.uw-dragging {
    transform: scale(var(--utilWheel-dragging-action-scale));
    opacity: var(--utilWheel-dragging-opacity);
  }
}
.uw-section-content.uw-dragover > * {
  transform: scale(var(--utilWheel-dragover-scale));
  opacity: var(--utilWheel-dragging-opacity);
}
.uw-action,
.uw-section-content.uw-dragover > * {
  transition:
    transform .085s ease,
    color .1s ease-in-out;
}
